:root {
    /* Cores principais */
    --cor-principal: #ff4c4c; /* Tom de vermelho suave para destacar elementos */
    --cor-fundo: #ffffff; /* Cor de fundo principal, cinza azulado escuro */
    --cor-menu: #353535; /* Cor de fundo do menu, cinza escuro */
    
    /* Cores de texto */
    --cor-texto-principal: #353535; /* Branco para o texto principal */
    --cor-texto-secundario: #353535; /* Cinza claro para textos secundários */
    
    /* Cores de interação e destaque */
    --cor-hover: #bdc3c7; /* Vermelho suave para hover e interações */
    --cor-erro: #bdc3c7; /* Vermelho suave para mensagens de erro */
    --cor-sucesso: #bdc3c7; /* Vermelho suave para mensagens de sucesso */
    
    /* Cores complementares */
    --cor-cinza-claro: #7f8c8d; /* Cinza médio */
    --cor-cinza-escuro: #4d5656; /* Cinza escuro */
    --cor-cinza-muito-escuro: #3b3b3b; /* Cinza muito escuro */
    --cor-cinza-gelo: #95a5a6; /* Cinza claro */
    
    /* Cores de elementos destacados */
    --cor-titulo: #ffffff; /* Cor de título */
    --cor-subtitulo: #bdc3c7; /* Cor de subtítulo */
    --cor-paragrafo: #bdc3c7; /* Cor de parágrafos */
    
    /* Cores de botões */
    --cor-botao-fundo: #bdc3c7; /* Fundo de botões */
    --cor-botao-borda: #ffffff; /* Borda de botões */
    --cor-botao-texto: #ffffff; /* Texto de botões */
    --cor-botao-hover: #000000; /* Cor de texto no hover do botão */
}



* {
    text-decoration: none;
    list-style-type: none;
    border: none;
    box-sizing: border-box;
}

body {
    padding-top: 0px; /* Ajuste para header fixo */
    background-color: var(--cor-fundo);
    color: var(--cor-texto-principal);
    font-family: "Poppins", sans-serif;
    overflow-x: hidden; /* Impede o scroll horizontal */
}

html {
    overflow-x: hidden;
    font-size: 87.5%; /* Base de 14px */
}

/* Compensação do scroll para a altura do cabeçalho */
section {
    scroll-margin-top: 80px; /* Ajuste este valor conforme a altura do cabeçalho */
}

header {
    background-color: var(--cor-menu);
    top: 0; /* Fica fixo no topo */
    width: 100%; /* Para garantir que ocupe toda a largura */
    z-index: 1000; /* Coloque um z-index alto para ficar acima de outros elementos */
}

@media (max-width: 768px) {
    section {
        scroll-margin-top: 60px; /* Ajuste menor para dispositivos móveis */
    }
}
a, h1, h2, h3, h4, p{
    letter-spacing: 0,5px;
}
/* MENU DE NAVEGAÇÃO NAV BAR */
h1 {
    color: var(--cor-texto-principal);
}

h2 {
    color: var(--cor-texto-principal);
}

h3 {
    color: var(--cor-texto-secundario);
}

.navbar {
    z-index: 1000; /* ou um valor alto para garantir que fique acima de outros elementos */
}

/* Estilos de Botões */
.navbar-toggler {
    background-color: var(--cor-sucesso);
    position: relative; /* ou absolute */
    z-index: 10; /* Certifique-se de que está acima de outros elementos */
}

.btn-custom {
    display: flex;
    align-items: center; /* Centraliza verticalmente o ícone e o texto */
    color: var(--cor-texto-principal);
    padding: 10px 18px; /* Ajuste o preenchimento do botão */
    border-radius: 50px; /* Botão arredondado */
    border: 2px solid var(--cor-texto-principal);
    font-weight: 600; /* Estilo de fonte mais forte */
    font-size: 1.1rem; /* Tamanho da fonte do botão */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Efeitos de transição */
    text-decoration: none; /* Remove sublinhado */
}

.btn-custom:hover {
    background-color: var(--cor-sucesso);
    color: #000000;
    transform: translateY(-3px); /* Levanta o botão ao passar o mouse */
}

.btn-custom i {
    font-size: 1.3rem; /* Tamanho do ícone */
    margin-right: 8px; /* Espaço entre o ícone e o texto */
}

.nav-link:hover {
    color: var(--cor-sucesso) !important;
}

/* Seção Home */
/* Melhoria para o Carousel */
#homeCarousel {
    position: relative;
    height: 100vh; /* A altura ocupa toda a tela */
}

.carousel-item {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    object-fit: cover; /* Para garantir que a imagem cubra toda a tela */
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra a área sem distorções */
    border-radius: 10px; /* Bordas arredondadas nas imagens */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); /* Sombra sutil ao redor da imagem */
}

/* Adicionando efeito de fade no carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Título */
#home-title {
    font-size: 3rem; /* Tamanho maior para o título */
    color: var(--cor-texto-principal);
    font-weight: 700; /* Título mais pesado */
    line-height: 1.3;
    text-transform: uppercase; /* Deixa o título em maiúsculas */
    animation: fadeInUp 1.5s ease-out; /* Animação do título */
}

/* Descrição */
.description {
    font-size: 1.5rem;
    color: var(--cor-texto-secundario);
    margin-top: 20px;
    line-height: 1.6;
    opacity: 0.8;
    animation: fadeIn 2s ease-out; /* Animação da descrição */
}

/* Animação de fadeIn do título e descrição */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Botão de WhatsApp */
.btn-custom {
    display: inline-flex;
    align-items: center;
    background-color: var(--cor-primaria);
    color: var(--cor-texto-principal);
    padding: 12px 20px;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: var(--cor-hover);
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-custom i {
    font-size: 1.5rem;
    margin-right: 10px;
}

/* Efeito de scroll */
.scroll-button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: var(--cor-primaria);
    animation: pulse 2s infinite; /* Animação para indicar o scroll */
}

.scroll-button:hover {
    color: var(--cor-hover);
}

/* Animação de pulsação */
@keyframes pulse {
    0% {
        transform: translateX(-50%) scale(1);
    }
    50% {
        transform: translateX(-50%) scale(1.1);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}
